@CHARSET "ISO-8859-1";

.suggestionPanel {
	padding: 2px;
	display: none;
	border-bottom: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	min-height: 25px;
	border-radius: 3px;
}

.suggestionItem {
	padding: 2px;
	cursor: pointer;
}

.suggestionItem:HOVER {
	background: #c0c0c0;
}

#paginationPanel {
	width: 100%;
	/* 	border: 1px solid #0080ff; */
	margin: 10px;
	height: auto;
	min-height: 25px;
	overflow: auto;
	display: none;
}

.paginationItem, .paginationItemCurrent {
	/* 	position: relative; */
	float: left;
	height: 25px;
	width: 20px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	border-right: 1px solid #c0c0c0;
}

.paginationItemCurrent {
	background: #0080c0;
	color: white;
}

.paginationItem:hover {
	background: #0080ff;
	color: white;
}

#languageFacetsPanel, #votesFacetsPanel {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #c0c0c0;
	overflow: auto;
}

.facetElement {
	cursor: pointer;
}

.facetElement:hover {
	background: #c0c0c0;
}

#resultsPanel {
	width: 100%;
	margin-top: 25px;
}

.searchResult {
	width: 100%;
	height: 30px;
	margin: 5px;
	padding: 10px;
	border: 1px solid #c0c0c0;
}

#spellingContainer {
	cursor: pointer;
}

#spellingContainer:hover {
	text-decoration: underline;
}